.footer-wrap {
    height: auto;
    background-color: #3CA0D0;
}

.row {
    display: grid;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.primary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;    
}

.col1 {
    padding-left: 20%;
}

.col2, .col3 {
    margin-left: auto;
    margin-right: auto;
}

.nav-list {
    display: flex;    
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-link {
    color: floralwhite;
    text-decoration: none;
    font-weight: 600;
    font-size: 22px;
    margin: 0.5em;
}

.footer-link:hover {
    color: #3808F6;
    text-decoration: none;
}

.footer-link > img {
    object-fit: cover;
    width: 3em;
}