.footer-wrap {
    height: 30vh;
    background-color: #3CA0D0;
}

.row {
    display: grid;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.primary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

